<!doctype html>
<html>

<head>
  <title>Dubbatransitek</title>
  <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.css" />
</head>

<body>
  <div class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <div class="row">
      <!-- Titre -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label"><%= lang.pages.title %></label>
        <div class="col-10">
          <input class="form-control" type="text" value="" id="title">
        </div>
      </div>
      <!-- Artistname -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label"><%= lang.pages.artistName %></label>
        <div class="col-10">
          <input class="form-control" type="text" value="" id="artistName">
        </div>
      </div>
      <!-- deezerId -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.deezerId %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="deezerId">
        </div>
      </div>
      <!-- ituneId -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.ituneId %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="ituneId">
        </div>
      </div>
      <!-- Position -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.position %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="position">
        </div>
      </div>
      <!-- Duration -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.duration %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="duration">
        </div>
      </div>
      <!-- deezerAlbum -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.deezerAlbum %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="deezerAlbum">
        </div>
      </div>
      <!-- discNumber -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.discNumber %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="discNumber">
        </div>
      </div>
      <!-- album -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label"><%= lang.pages.album %></label>
        <div class="col-10">
          <input class="form-control" type="text" value="" id="album">
        </div>
      </div>
      <!-- releaseDate -->
      <div class="form-group row">
        <label for="example-date-input" class="col-2 col-form-label"><%= lang.pages.releaseDate %></label>
        <div class="col-10">
          <input class="form-control" type="date" value="" id="releaseDate">
        </div>
      </div>
      <!-- nbTracks -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.nbTracks %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="nbTracks">
        </div>
      </div>
      <!-- genreId -->
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label"><%= lang.pages.genreId %></label>
        <div class="col-10">
          <input class="form-control" type="number" value="" id="genreId">
        </div>
      </div>
      <!-- cover -->
      <div class="form-group row">
        <label for="example-url-input" class="col-2 col-form-label"><%= lang.pages.cover %></label>
        <div class="col-10">
          <input class="form-control" type="url" value="" id="cover">
        </div>
      </div>
      <!-- genre -->
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label"><%= lang.pages.genre %></label>
        <div class="col-10">
          <input class="form-control" type="text" value="" id="genre">
        </div>
      </div>
    </div>

    <!-- DISPLAY PLAYLISTS -->
    <div class="row">
      <h1><%= lang.pages.appearOn %></h1>
      <table id="myTable" class="display" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>
              <%= lang.pages.name %>
            </th>
            <th>
              <%= lang.pages.tagTitle %>
            </th>
            <th>
              <%= lang.pages.author %>
            </th>
            <th>
              <%= lang.pages.contributor %>
            </th>
            <th>
              <%= lang.pages.musicNb %>
            </th>
            <th>
              <%= lang.pages.go %>
            </th>
          </tr>
        </thead>

        <tfoot>
          <tr>
            <th>
              <%= lang.pages.name %>
            </th>
            <th>
              <%= lang.pages.tagTitle %>
            </th>
            <th>
              <%= lang.pages.author %>
            </th>
            <th>
              <%= lang.pages.contributor %>
            </th>
            <th>
              <%= lang.pages.musicNb %>
            </th>
            <th>
              <%= lang.pages.go %>
            </th>
          </tr>
        </tfoot>
        <tbody id="myTableBody">
        </tbody>
      </table>
    </div>
  </div>
</body>
<footer>
  <% include ../partials/notifJS %>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
    <script>
    </script>
</footer>

</html>
