<!doctype html>
<html>

<head>
  <title>Dubbatransitek</title>
  <% include ../partials/head %>
</head>

<body>

  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">

      <h1>
                    <span class="fa fa-sign-in"></span>
                    <%= lang.pages.connection %>
                </h1>

      <% if (message.length > 0) { %>
        <div class="alert alert-danger">
          <%= message %>
        </div>
        <% } %>

          <!-- LOGIN FORM -->
          <form action="/login" method="post">
            <div class="form-group">
              <label><%= lang.pages.username %></label>
              <input type="text" class="form-control" name="username" autofocus>
            </div>
            <div class="form-group">
              <label><%= lang.pages.password %></label>
              <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg"><%= lang.pages.logIn %></button>
          </form>

          <hr>

          <p>
            <%= lang.pages.wantToJoin %>
              <a href="/signup">
                <%= lang.pages.signUp %>
              </a>
          </p>
          <p>
            <%= lang.pages.orGoTo %>
              <a href="/">
                <%= lang.pages.home %>
              </a>.
          </p>
    </div>
  </div>
</body>

</html>
