<!doctype html>
<html>

<head>
  <title>Dubbatransitek</title>
  <% include ../partials/head %>
</head>

<body>
  <div class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <!-- DISPLAY PLAYLIST -->
    <div class="row col-md-12">
      <h1><%= lang.pages.goToPlaylist %></h1>
    </div>
    <div id="myPlaylists"></div>
    <!-- ADD PLAYLIST FORM -->
    <div class="row col-md-12">
      <h1><%= lang.pages.createPlaylist %></h1>
      <div class="form-group">
        <label><%= lang.pages.name %></label>
        <input type="text" class="form-control" id="name" placeholder="<%= lang.pages.name %>" required/>
      </div>
      <div class="form-group">
        <label><%= lang.pages.tag %></label>
        <input type="text" class="form-control" id="tags" placeholder="<%= lang.pages.tagPlaceholder %>" />
      </div>
      <div class="form-group">
        <label><%= lang.pages.URLorQuery %></label>
        <input type="url" class="form-control" id="url" placeholder="<%= lang.pages.URLorQueryPlaceholder %>" />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' id="add"><%= lang.pages.validate %></button>
      </div>
    </div>
  </div>
</body>
<footer>
  <% include ../partials/notifJS %>
    <script>
      var myPlaylists;

      socket.on('myPlaylists', function(playlists) {
        myPlaylists = playlists;
        $("#myPlaylists").empty();

        for (var i = 0; i < playlists.length; i += 6) {
          var html = "<div class='row' id='myPlaylist" + i.toString() + "'>";
          for (var j = i; j < i + 6; j++) {
            if (j < playlists.length) {
              html += "<a href='./playlist?name=" + encodeURI(playlists[j].name) + "' class='col-sm-2 col-xs-6'>";
              if (playlists[j].musics.length > 0 && playlists[j].musics[0].music_id.cover)
                html += '<img class="thumb" src="' + playlists[j].musics[0].music_id.cover + '">';
              if (playlists[j].musics.length > 1 && playlists[j].musics[1].music_id.cover)
                html += '<img class="thumb" src="' + playlists[j].musics[1].music_id.cover + '">';
              if (playlists[j].musics.length > 2 && playlists[j].musics[2].music_id.cover)
                html += '<img class="thumb" src="' + playlists[j].musics[2].music_id.cover + '">';
              if (playlists[j].musics.length > 3 && playlists[j].musics[3].music_id.cover)
                html += '<img class="thumb" src="' + playlists[j].musics[3].music_id.cover + '">';
              html += '<h3 class="text-center">' + playlists[j].name + '</h3>';
              html += "</a>";
            }
          }

          html += "</div>";
          $("#myPlaylists").append(html);
        }
      });

      $('#add').click(function() {
        notify = $.notify({
          icon: 'fa fa-circle-o-notch fa-spin',
          message: '<%= lang.pages.loading %>'
        }, {
          type: 'info',
          delay: 0
        });
        socket.emit('addPlaylist', $('#name').val(), $('#tags').val(), $('#url').val());
        $('#name').val('');
        $('#tags').val('');
        $('#url').val('');
      });

      socket.emit('getMyPlaylists');
    </script>
</footer>

</html>
